table {
  margin-top: 10px;
  width: 1000px;
}

td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

tr {
  line-height: 4px;
}

p {
  margin: 0;
}

mat-option {
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
}

.invoice {
  margin: 50px 0 20px 0;
}

.constructor {
  padding-top: 30px;
}

.constructor-info {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin-bottom: 50px;
}

.info-field {
  margin-right: 30px;
}

.constructor-products {
  margin-bottom: 30px;
}

.constructor-product {
  padding: 10px 0;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.button-wrapper {
  margin: 10px;
}

.span-header {
  text-decoration: underline;
}

.span-value {
  position: absolute;
  left: 30%;
}

.empty {
  border: none;
}

.return-container {
  margin-top: 30px;
}

.generated-return {
  padding: 40px 0;
}

.total-price {
  font-size: 24px;
  margin-right: 30px;
}

.autocomplete-field {
  display: flex;
  justify-content: space-between;
}

.autocomplete-field-text {
  line-height: 41px;
}

.autocomplete-field-button {
  line-height: 46px;
}

.name-field {
  min-width: 450px;
}

.client-name-field {
  min-width: 349px;
}

.small-field {
  max-width: 80px;
}
