<div id="pdfIgnore" class="constructor">
  <h2>Накладна</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="constructor-info">
      <div class="info-field">
        <mat-form-field class="client-name-field">
          <mat-label>Одержувач</mat-label>
          <input matInput placeholder="Одержувач" formControlName="client" autocomplete="off" type="text" required>
          <mat-error *ngIf="form.controls.client.hasError('required')">
            Одержувач <strong>не може бути порожнім</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="info-field">
        <mat-form-field>
          <mat-label>Постачальник</mat-label>
          <mat-select formControlName="provider" (selectionChange)="setCount()" matNativeControl required>
            <mat-option value="ФОП Прокопюк І.В.">ФОП Прокопюк І.В.</mat-option>
            <mat-option value="ФОП Настенко Н.В.">ФОП Настенко Н.В.</mat-option>
            <mat-option value="ФОП Лущай І.О.">ФОП Лущай І.О.</mat-option>
            <mat-option value='ПП "Еквi-Сервiс"'>ПП "Еквi-Сервiс"</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="info-field">
        <mat-form-field>
          <mat-label>Дата відправки</mat-label>
          <input matInput [matDatepicker]="picker" placeholder="Дата відправки" formControlName="date" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="form.controls.date.hasError('required')">
            Дата відправки <strong>не може бути порожньою</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="info-field">
        <mat-form-field class="small-field">
          <mat-label>Номер накладної</mat-label>
          <input matInput placeholder="Номер накладної" formControlName="number" autocomplete="off" type="number">
        </mat-form-field>
      </div>
    </div>
    <div formGroupName="products" class="constructor-products">
      <div *ngFor="let product of products.controls; let i = index" [formGroup]="product" class="constructor-product">
        <div class="info-field">
          <mat-form-field class="name-field">
            <mat-label>Назва товару</mat-label>
            <input matInput placeholder="Назва товару" formControlName="name" (ngModelChange)="onNameChange($event, product)" autocomplete="off" type="text" [matAutocomplete]="auto" required>
            <mat-autocomplete #auto="matAutocomplete">
              <div class="autocomplete-field" *ngFor="let option of filteredProducts">
                <mat-option [value]="option.name">
                  <div>
                    <p class="autocomplete-field-text">
                      {{ option.name }}
                    </p>
                  </div>
                </mat-option>
                <button (click)="onDelete(option.name)" class="autocomplete-field-button" mat-icon-button>
                  <mat-icon>close</mat-icon>
                </button>
              </div>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="info-field">
          <mat-form-field class="small-field">
            <mat-label>Одиниці виміру</mat-label>
            <mat-select formControlName="unitsOfMeasure" matNativeControl required>
              <mat-option value="шт">шт</mat-option>
              <mat-option value="пара">пара</mat-option>
              <mat-option value="стан">стан</mat-option>
              <mat-option value="б">б</mat-option>
              <mat-option value="л">л</mat-option>
              <mat-option value="м">м</mat-option>
              <mat-option value="к">к</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="info-field">
          <mat-form-field class="small-field">
            <mat-label>Кількість</mat-label>
            <input matInput placeholder="Кількість" formControlName="quantity" autocomplete="off" type="number" required>
          </mat-form-field>
        </div>
        <div class="info-field">
          <mat-form-field class="small-field">
            <mat-label>Ціна</mat-label>
            <input matInput placeholder="Ціна" formControlName="price" autocomplete="off" type="number" required>
          </mat-form-field>
        </div>
        <button (click)="removeProduct(i)" mat-raised-button color="warn" type="button">Видалити</button>
      </div>
      <div class="button-wrapper">
        <button (click)="addProduct()" mat-raised-button color="primary" type="button">Додати новий продукт</button>
      </div>
    </div>
    <div class="info-field">
      <mat-form-field>
        <mat-label>Знижка, %</mat-label>
        <input matInput placeholder="Знижка" formControlName="discount" autocomplete="off" type="number" required>
      </mat-form-field>
    </div>
    <div class="info-field">
        <mat-checkbox matInput (change)="hasReturn = $event.checked">
          Повернення
        </mat-checkbox>
    </div>
    <div class="return-container" *ngIf="hasReturn">
      <h2>Повернення</h2>
      <div class="info-field">
        <mat-form-field>
          <mat-label>Знижка, %</mat-label>
          <input matInput placeholder="Знижка" formControlName="returnDiscount" autocomplete="off" type="number" required>
        </mat-form-field>
      </div>
      <div formGroupName="returnProducts" class="constructor-products">
        <div *ngFor="let product of returnProducts.controls; let i = index" [formGroup]="product" class="constructor-product">
          <div class="info-field">
            <mat-form-field class="name-field">
              <mat-label>Назва товару</mat-label>
              <input matInput placeholder="Назва товару" formControlName="name" (ngModelChange)="onNameChange($event, product)" autocomplete="off" type="text" [matAutocomplete]="auto" required>
              <mat-autocomplete #auto="matAutocomplete">
                <div class="autocomplete-field" *ngFor="let option of filteredProducts">
                  <mat-option [value]="option.name">
                    <div>
                      <p class="autocomplete-field-text">
                        {{ option.name }}
                      </p>
                    </div>
                  </mat-option>
                  <button (click)="onDelete(option.name)" class="autocomplete-field-button" mat-button>
                    <mat-icon>close</mat-icon>
                  </button>
                </div>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="info-field">
            <mat-form-field class="small-field">
              <mat-label>Одиниці виміру</mat-label>
              <mat-select formControlName="unitsOfMeasure" matNativeControl required>
                <mat-option value="шт">шт</mat-option>
                <mat-option value="пара">пара</mat-option>
                <mat-option value="стан">стан</mat-option>
                <mat-option value="б">б</mat-option>
                <mat-option value="л">л</mat-option>
                <mat-option value="м">м</mat-option>
                <mat-option value="к">к</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="info-field">
            <mat-form-field class="small-field">
              <mat-label>Кількість</mat-label>
              <input matInput placeholder="Кількість" formControlName="quantity" autocomplete="off" type="number" required>
            </mat-form-field>
          </div>
          <div class="info-field">
            <mat-form-field class="small-field">
              <mat-label>Ціна</mat-label>
              <input matInput placeholder="Ціна" formControlName="price" autocomplete="off" type="number" required>
            </mat-form-field>
          </div>
          <button (click)="removeReturnProduct(i)" mat-raised-button color="warn" type="button">Видалити</button>
        </div>
        <div class="button-wrapper">
          <button (click)="addReturnProduct()" mat-raised-button color="primary" type="button">Додати новий продукт</button>
        </div>
      </div>
    </div>
    <div class="button-wrapper">
      <button type="submit" mat-raised-button color="primary">Сгенерувати</button>
    </div>
    <div class="button-wrapper">
      <button type="button" mat-raised-button color="warn" (click)="onCancel()">Скасувати</button>
    </div>
    <div class="button-wrapper">
      <button mat-raised-button color="primary" type="button" printSectionId="print-section" ngxPrint [disabled]="!value" [useExistingCss]="true">Роздрукувати</button>
    </div>
  </form>
</div>
<div *ngIf="value" id="print-section" class="invoice">
  <div>
    <div>
      <span class="span-header">
        Постачальник:
      </span>
      <span class="span-value">
        {{ value.provider }}
      </span>
    </div>
    <div>
      <span class="span-header">
        Одержувач:
      </span>
      <span class="span-value">
        {{ value.client }}
      </span>
    </div>
  </div>
  <div class="center">
    <h2>
      Видаткова накладна № {{ value.number }} від {{ value.date | date: "dd.MM.yyyy" }}
    </h2>
  </div>
  <table>
    <tr>
      <th>
        №
      </th>
      <th>
        Товар
      </th>
      <th>
        Од.
      </th>
      <th>
        К-сть
      </th>
      <th>
        Ціна
      </th>
      <th>
        Сума
      </th>
    </tr>
    <tr *ngFor="let row of value.products; let i = index">
      <td [width]="10">
        {{ i + 1 }}
      </td>
      <td [width]="500">
        {{ row.name }}
      </td>
      <td [width]="20">
        {{ row.unitsOfMeasure }}
      </td>
      <td [width]="70">
        {{ row.quantity }}
      </td>
      <td>
        {{ row.price | number: '1.2' }}
      </td>
      <td>
        {{ (row.price * row.quantity) | number: '1.2' }}
      </td>
    </tr>
    <tr>
      <td class="empty"></td><td class="empty"></td><td class="empty"></td><td class="empty"></td>
      <td>
        Всього
      </td>
      <td>
        {{ getTotalPrice() | number: '1.2' }}
      </td>
    </tr>
    <tr *ngIf="value.discount > 0">
      <td class="empty"></td><td class="empty"></td><td class="empty"></td><td class="empty"></td>
      <td>
        Знижка
      </td>
      <td>
        {{ value.discount }}%
      </td>
    </tr>
    <tr *ngIf="value.discount > 0">
      <td class="empty"></td><td class="empty"></td><td class="empty"></td><td class="empty"></td>
      <td>
        Всього
      </td>
      <td>
        {{ getTotalPriceWithDiscount() | number: '1.2' }}
      </td>
    </tr>
  </table>
  <div *ngIf="hasReturn" class="generated-return">
    <div class="center">
      <h2>
        Повернення
      </h2>
    </div>
    <table>
      <tr>
        <th>
          №
        </th>
        <th>
          Товар
        </th>
        <th>
          Од.
        </th>
        <th>
          К-сть
        </th>
        <th>
          Ціна
        </th>
        <th>
          Сума
        </th>
      </tr>
      <tr *ngFor="let row of value.returnProducts; let i = index">
        <td [width]="10">
          {{ i + 1 }}
        </td>
        <td [width]="500">
          {{ row.name }}
        </td>
        <td [width]="20">
          {{ row.unitsOfMeasure }}
        </td>
        <td [width]="70">
          {{ row.quantity }}
        </td>
        <td>
          {{ row.price | number: '1.2' }}
        </td>
        <td>
          {{ (row.price * row.quantity) | number: '1.2' }}
        </td>
      </tr>
      <tr>
        <td class="empty"></td><td class="empty"></td><td class="empty"></td><td class="empty"></td>
        <td>
          Всього
        </td>
        <td>
          {{ getTotalReturnPrice() | number: '1.2' }}
        </td>
      </tr>
      <tr *ngIf="value.returnDiscount > 0">
        <td class="empty"></td><td class="empty"></td><td class="empty"></td><td class="empty"></td>
        <td>
          Знижка
        </td>
        <td>
          {{ value.returnDiscount }}%
        </td>
      </tr>
      <tr *ngIf="value.returnDiscount > 0">
        <td class="empty"></td><td class="empty"></td><td class="empty"></td><td class="empty"></td>
        <td>
          Всього
        </td>
        <td>
          {{ getTotalReturnPriceWithDiscount() | number: '1.2' }}
        </td>
      </tr>
    </table>
  </div>
  <div *ngIf="hasReturn">
    <span class="total-price">
      Всього
    </span>
    <span class="total-price">
      {{ getTotalPriceWithDiscount() - getTotalReturnPriceWithDiscount() | number: '1.2' }} грн
    </span>
  </div>
</div>
